@model ForgotPassword

<div class="NoteTable p-3 mt-4">

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert-danger">
            <span>@TempData["Error"]</span>
        </div>
    }
    <form asp-action="ForgotPassword">
        <div class="mb-3">
            <label style="font-size:30px" asp-for="Email">Почта</label>
            <input type="email" asp-for="Email" style="font-size:30px" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button style="font-size:30px; border-collapse: separate;border-radius: 7px;border-style: solid" class="btn btn-primary" asp-for="" asp-controller="Account" asp-action="ForgotPassword">Отправить подтверждение на почту</button>
        <button style="font-size:30px; border-collapse: separate;border-radius: 7px;border-style: solid;background-color:#3B3B3B;margin-top:10px" class="btn btn-primary" asp-for="" asp-controller="Home" asp-action="Index">Вернуться на главную страницу</button>
    </form>
</div>