@model New_Asp.Net_MVC_Project.ViewModels.ResetPasswordViewModel

<div class="NoteTable p-3 mt-4">

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert-danger">
            <span>@TempData["Error"]</span>
        </div>
    }
    <form asp-action="ResetPassword">
        <input type="hidden" name="Email" asp-for="Email" class="form-control" />
        <input type="hidden" name="Token" asp-for="Token" class="form-control" />
        <div class="mb-3">
            <label asp-for="Password" style="font-size:30px">Пароль</label>
            <input type="password" asp-for="Password" style="font-size:30px" class="form-control" />
            <span asp-validation-for="Password" class="text-danger field-validation-error"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" style="font-size:30px">Подтвердить пароль</label>
            <input type="password" asp-for="ConfirmPassword" style="font-size:30px" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button style="font-size:30px; border-collapse: separate;border-radius: 7px;border-style: solid" class="btn btn-primary" asp-for="" asp-controller="Account" asp-action="ResetPassword">Изменить пароль</button>
        <button style="font-size:30px; border-collapse: separate;border-radius: 7px;border-style: solid;background-color:#3B3B3B" class="btn btn-primary" asp-for="" asp-controller="Home" asp-action="Index">Вернуться на главную страницу</button>
    </form>
</div>
