@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время выполниения задачи, произошла ошибка</h2>
<h3>Вернитесь на главную страницу до выяснения какого хуя она появилась</h3>
