@model NoteData

<div class="NoteTable p-3 mt-4">
    <form method="post" asp-action="EditNote">
        <input type="hidden" id="ApplicationUserId" asp-for="ApplicationUserId" />
        <div class="mb-3">
            <label style="font-size:30px" asp-for="Title">Название</label>
            <input asp-for="Title" style="font-size:30px; height:51px;resize:none" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NoteContent" style="font-size:30px">Содержимое</label>
            <textarea asp-for="NoteContent" style="font-size:30px; height:600px;resize:none" class="form-control"></textarea>
        </div>

        <button style="font-size:30px; border-collapse: separate;border-radius: 7px;border-style: solid" class="btn btn-primary" asp-for="" asp-controller="Note" asp-action="EditNote">Редактировать заметку</button>
        <button style="font-size:30px; border-collapse: separate;border-radius: 7px;border-style: solid;background-color:#3B3B3B" class="btn btn-primary" asp-for="" asp-controller="Note" asp-action="AllNotes">Вернуться на главную страницу</button>
    </form>
</div>
